<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script>
    const smokingCheckbox = document.getElementById("id_smoking");
    const smokingYearsField = document.getElementById("id_smoking_years");

    const hormonalCheckbox = document.getElementById("id_hormonal_contraception");
    const hormonalYearsField = document.getElementById("id_hormonal_years");

    const iudCheckbox = document.getElementById("id_iud");
    const iudYearsField = document.getElementById("id_iud_years");

    smokingCheckbox.addEventListener("change", function() {
        if (!this.checked) {
            smokingYearsField.value = 0;
        }
    });

    hormonalCheckbox.addEventListener("change", function() {
        if (!this.checked) {
            hormonalYearsField.value = 0;
        }
    });

    iudCheckbox.addEventListener("change", function() {
        if (!this.checked) {
            iudYearsField.value = 0;
        }
    });
</script>
